#slogan{
	font-family:lobster,cursive;
	font-size:25px;
	text-align:center;
	font-style:italic;
}

.center{
	text-align: center;
}

body{
	text-align:center;
}

p.paragraph{
	text-align:left;
}

a.menu{
	text-decoration:none;
	color:black;
}

img.treepic{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

body{
	font-family: Helvetica, sans-serif;

}

h1{
	font-family:lobster,cursive;
	font-size: 50px;
	text-align: center;
}

h2{
	font-family:lobster, cursive;
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase;
}

#orange{
	color:#FF6505
}
#lemon{
	color:#FFF30D;
}
#lime{
	color:#BDFF0C;
}
#grape{
	color:#FF6E8D;
}
#tang{
	color:#FFD425;
}

.background{
	background-color:#C4C3C3;
	margin-left: auto;
	margin-right: auto;
	width:10%;
	text-align:left;
}

#contactus{
	font-family: Helvetica: sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

